@import "./block/block";
.wrapper-intro{
  margin: auto;
  width: 1280px;
  height: 600px;
//   background-image: url(./img.png);
background-color: gray;
border-radius: 30px;
display: flex;
align-items: center;
}