.intro{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 600px;
    background: url(../images/BIt.png) , no-repeat ;

}
.h1{
font-family: 'Fraunces';
font-style: normal;
font-weight: 900;
font-size: 72px;
line-height: 72px;
/* or 100% */

color: #FEFCF7;
}
.helper{
    width: 430px;
    margin-left: 85px;
}
.par{
    /* Start your mornings */
    width: 445px;
font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */

color: #FEFCF7;

mix-blend-mode: normal;
opacity: 0.8;

}
.btn{
    width: 217px;
    height: 56px;
    background: #0E8784;
    border-radius: 6px;
    border: 0px;

    font-family: 'Fraunces';
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    /* identical to box height, or 139% */
    text-align: center;

    color: #FEFCF7;
    transition: all 2s ease;
    &:active{
        transform: rotate(15.1turn) translatey(-25px) scale(1,2);
        background-color: #66D2CF;
    }
}